<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="keypr_tablet" src="{{ "/assets/img/keypr_tablet.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> KEYPR In-Room tablet </h3>
    <ul>
      <li>Improving hotel guest staying quality</li>
    </ul>
    <p>As a part of KAOS (KEYPR Android OS) team I'm working on the In-Room tablet solution for the hospitality.
      It's a mix of Android framework customisations and <a href="https://goo.gl/W1yEoY">Google Enterprise API</a>
      to provide professional device management and great guest staying experience.
      With tablet hotel guests can order in-room dining, run 3d party Apps (Netflix, HULU, WSJ etc.), make reservations, engage with staff and more.</p>
    <a class="project-link" href="https://www.keypr.com/platform">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="remi_mirror" src="{{ "/assets/img/remi_mirror.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> REMi-KEYPR Smart Mirror </h3>
    <ul>
      <li>Next gen hospitality experience</li>
    </ul>
    <p>It's a huge 42+ inches, interactive and a highly customizable Android-based Smart Mirror.
      With my team we have been integrate REMi Mirror to the KEYPR hospitality system.
      That's why you could do a bunch of usefull stuff with it: making a service requests,
      locating nearby restaurants, ordering a food to the room, etc.
      Since it's not an ordinary Android device from techical and design perspective
      it's a big challenge to provide great UI/UX for the guest. And believe me, Material Guidelines would not help you there.
      Nobody have done this for production before. That's why I'm so excited to be involved to this project.</p>
    <a class="project-link" href="https://www.helloremi.com/">More details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/glomex_logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Glomex Video Player Library</h3>
    <ul>
      <li>Showing Video Ads in a convinient way</li>
    </ul>
    <p>As an Android Lead worked on B2B cross platform video player library for Mobile & SmartTV. Library has powerful Advertisement engine based on Google IMA + user tracking analytics.
<br>Technology: Android, iOS, Mobile Web, Java, JavaScript, ExoPlayer (upgrading now from 1.4 to 2.0), DRM, DASH, Google IMA, VAST 3, JSNI, Gradle, Travis CI, Amazon S3 bucket uploader.</p>
    <a class="project-link" href="http://docs.p7s1.com/glomex-loader/3.2.0/player-api/">Check API</a>
  </div>
</div>
